<html>
	<head>
		<title>Digi-x assessment</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/digicss.css">
	</head>
	<body>
		<div class="container">
			<h3>The amount to be paid is $<%= cart_tot %> </h3>
		</div>
	</body>
</html>